streamlit
transformers
torch  # Include this if you encounter issues related to model loading
nltk
joblib
shap
streamlit-shap
pandas
textblob
pathlib
numpy
scikit-learn
xgboost
matplotlib
umap-learn
wordcloud